# vim: ft=dosini
# https://git-scm.com/docs/git-config

[advice]
detachedHead = false

[alias]
b        = branch
ci       = commit
co       = checkout
d        = diff
dt       = difftool
l        = log --pretty='format:%h - %C(brightgreen)%ad [%C(brightcyan)%an] -%C(auto)%d%C(reset) %C(brightwhite)%s%C(reset)' --graph --all --date=human -n20
l1       = log --pretty='format:%h%C(auto)%d%C(reset) - %C(brightwhite)%s%C(reset)' --graph --all -n20
ll       = log --graph --decorate --date=relative --all --oneline -n20
ls       = ls-files --format '%(objectmode) %(path)'
mt       = mergetool
p        = push
s        = status --short --branch
sw       = switch
t        = tag

[color]
ui = auto

[color "branch"]
# https://git-scm.com/docs/git-config#Documentation/git-config.txt-colorbranchltslotgt
current  = bold yellow
local    = bold green
remote   = bold cyan
upstream = bold magenta
plain    = bold red

[color "decorate"]
# https://git-scm.com/docs/git-config#Documentation/git-config.txt-colordecorateltslotgt
branch       = white bold red
head         = white bold red
remoteBranch = white bold red
tag          = bold red

[color "diff"]
# https://git-scm.com/docs/git-config#Documentation/git-config.txt-colordiffltslotgt
context    = white bold
frag       = magenta bold
old        = red bold
new        = green bold
commit     = cyan bold
whitespace = white red

[color "grep"]
# TODO: https://git-scm.com/docs/git-config#Documentation/git-config.txt-colorgrepltslotgt

[color "status"]
# https://git-scm.com/docs/git-config#Documentation/git-config.txt-colorstatusltslotgt
added        = bold green
changed      = bold cyan
untracked    = bold white
unmerged     = bold red
nobranch     = bold red
branch       = bold green
localBranch  = bold green
remoteBranch = bold cyan

[commit]
gpgSign = true

[core]
unsetEnvVars =
autoCrLf     = false
hooksPath    = ~/.config/git/hooks
editor       = nvim
pager        = less --no-init --raw-control-chars --ignore-case --quit-on-intr --squeeze-blank-lines --quit-if-one-screen
sshCommand   = ssh
quotePath    = false
ignoreCase   = true

[credential "helperselector"]
selected = <no helper>

[diff]
guiTool        = bc
mnemonicPrefix = true
noPrefix       = false
tool           = nvim

[diffTool]
guiDefault    = false
prompt        = false
trustExitCode = true

[diffTool "bc"]
cmd = bcompare //nobackups //ro //title1=LOCAL //title2=REMOTE "$LOCAL" "$REMOTE"

; XXX
[diffTool "nvim"]
cmd = nvim -d "$LOCAL" "$REMOTE"
; cmd = nvim -c \"DiffviewOpen $LOCAL $REMOTE\"

[filter "lfs"]
process  = git-lfs filter-process
required = true
clean    = git-lfs clean -- %f
smudge   = git-lfs smudge -- %f

[format]
signOff = true

[gpg]
format = ssh

[gpg "ssh"]
program            = ssh-keygen
allowedSignersFile = ~/.config/git/ssh/allowed-signatures
revocationFile     = ~/.config/git/ssh/revocatied-signatures

[init]
defaultBranch = main

[lfs]
; allowIncompletePush = true

[merge]
guiTool          = bc
tool             = nvim
verifySignatures = true

[mergeTool]
guiDefault      = false
keepBackup      = false
keepTemporaries = false
prompt          = false
stat            = false
writeToTemp     = true

[mergeTool "bc"]
trustExitCode = true
cmd           = bcompare //nobackups //ro //title1=LOCAL //title2=REMOTE //title3=BASE //title4=MERGED "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

[mergeTool "nvim"]
trustExitCode = true
cmd           = nvim "$MERGED"

[pull]
rebase = false # merge (the default strategy)

[push]
default    = simple
followTags = true

[ssh]
variant = ssh

[tag]
gpgSign = true

[user]
email      = zdm@softvisio.net
name       = zdm
signingKey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP/nPzEIJ9FvODTzjuTvrk+h6b3mq1ilgsm7wQpYLVRP
