# DOCS: https://docs.npmjs.com/cli/v11/using-npm/config

; cache           = ~/.npm-cache
engine-strict   = true
fund            = false
init-private    = true
init-type       = module
init-version    = "0.0.0"
; msvs_version    = 2019
; prefix          = ~/.npm
unicode         = true
update-notifier = false
