# DOCS: https://docs.npmjs.com/cli/v11/using-npm/config

; cache           = ~/.npm-cache
engine-strict   = true
fund            = false
init-private    = true
init-type       = module
init-version    = "0.0.0"
; msvs_version    = 2025
; prefix          = ~/.npm
unicode         = true
update-notifier = false

@c0rejs:registry = https://npm.pkg.github.com/
@zerocluster:registry = https://npm.pkg.github.com/
; @sencha:registry = https://npm.sencha.com/
